.footer{
    display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: crimson;
  width: 100%;
  min-height: 100px;
}

.foot{
     display: block;
     width: 10%;
   
}
.detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:693px){
    .footer{
      display: flex;
      float: left;
      min-width: 100%;
      flex-wrap: wrap;
    }

.detail{
    display: flex;
    justify-content:left;
    margin: 5px 0px 0px 60px; 
}
  }